<div class="container mx-auto px-6 py-12">
  <div class="mb-12">
    <p class="mb-4">
      My little man Gimli is the reason why I would prefer to work remotely.  Just over a year old, he's a cavalier king charles spaniel addicted to crunching ice cubes.  Acts as a great rubber duck for debugging.
    </p>
    <p>
      I just want an excuse to post a bunch of pictures of him.  Oh wow it uses that gallery component from Hobbies that I was able to reuse so easily.
    </p>
  </div>

  <app-image-gallery [galleryImages]="galleryImages"></app-image-gallery>
</div>
