<div class="flex w-full h-screen">
  <div class="w-3/5 p-4">
    <!--I can disable everything at once but cant enable them ):-->
    <ngx-extended-pdf-viewer
      [src]="'/assets/pdfs/resume.pdf'"
      [height]="'auto'"
      [showDrawEditor]="false"
      [showFindButton]="false"
      [showSidebarButton]="false"
      [textLayer]="true"
      pageViewMode="single"
      [showFirstAndLastPageButtons]="false"
      [showHandToolButton]="false"
      [showRotateButton]="false"
      [showTextEditor]="false"
      [showOpenFileButton]="false"
      [showFindHighlightAll]="false"
      [showHighlightEditor]="false"
      [showPageLabel]="false"
      [showPageNumber]="false"
      [showPagingButtons]="false"
      [filenameForDownload]="'Ryan Morrissey - Resume.pdf'"
      [zoom]="'page-width'">
    </ngx-extended-pdf-viewer>
  </div>

  <div class="w-2/5 p-4">
    <div>
      <h2 class="text-2xl font-bold text-gray-100 mb-4">Work Experience</h2>
      <ul class="space-y-6">
        <li class="flex items-start">
          <img
            src="assets/images/studentuniverse_logo.png"
            alt="StudentUniverse Logo"
            class="w-10 h-10 mr-4"
          />
          <div>
            <h3 class="text-lg text-gray-100">StudentUniverse</h3>
            <p class="mb-4">
              StudentUniverse is a travel company which primarily markets toward active students.  By partnering with different airlines, they are able to offer student-centric discounts and programs.
            </p>
            <p class="mb-4">
              For the tech-stack, my time was split relatively evenly between javascript development with AngularJS and groovy development with Spring.  My work focused on checkout flow improvements, hotel offerings, and developing internal tools for our travel agents.
            </p>
            <p>
              Unfortunately in August 2024, myself along with a majority of the developers were let go after a company merge.
            </p>
          </div>
        </li>
        <li class="flex items-start">
          <img
            src="assets/images/globalspec_logo.png"
            alt="GlobalSpec Logo"
            class="w-10 h-10 mr-4"
          />
          <div>
            <h3 class="text-lg text-gray-100">GlobalSpec</h3>
            <p class="mb-4">
              GlobalSpec is a company that offers a search engine with an expansive engineering catalog.  From product specifications and datasheets, to where to source and purchase them.  Due to the sheer amount of data available, their focus is on optimization.
            </p>
            <p>
              The majority of my work was done in ColdFusion and Spring, with some Angular development.  As my first job out of college, I was given the unique opportunity to shuffle around the different specialized development teams to see what fit me best, which led to my love of full stack development.
            </p>
          </div>
        </li>
        <li class="flex items-start">
          <img
            src="assets/images/abiomed_logo.png"
            alt="Java Logo"
            class="w-10 h-10 mr-4"
          />
          <div>
            <h3 class="text-lg text-gray-100">Abiomed</h3>
            <p class="mb-4">
              Abiomed is a med-tech company that focuses on heart recovery technology.  In particular, I was a member of the cloud team which developed support software for their heart pumps.  With our site, medical professionals could have constant access to the status of any Abiomed devices associated with them.
            </p>
            <p>
              As my first experience with professional work as a part of my college's co-op program, my year with Abiomed was more of a support role.  Working with Angular and .net core, I mostly assisted with bug fixes and QA testing.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
