<div class="container mx-auto p-6 md:p-10">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <div class="flex flex-col items-center justify-center bg-gray-800 rounded-lg p-4 shadow-lg">
      <div class="w-full max-w-md h-auto rounded-lg overflow-hidden border-4 border-gray-600 shadow-md">
        <img
          src="assets/images/resume.png"
          alt="Resume Picture"
          class="object-cover w-full"
        />
      </div>
      <h2 class="mt-4 text-xl font-semibold text-gray-200">Resume (Updated December 2024)</h2>
    </div>

    <div>
      <h2 class="text-2xl font-bold text-gray-100 mb-4">Work Experience</h2>
      <ul class="space-y-6">
        <li class="flex items-start">
          <img
            src="assets/images/studentuniverse_logo.png"
            alt="Java Logo"
            class="w-10 h-10 mr-4 object-cover"
          />
          <div>
            <h3 class="text-lg font-medium text-gray-300">StudentUniverse</h3>
            <p class="text-gray-400">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </li>
        <li class="flex items-start">
          <img
            src="assets/images/globalspec_logo.png"
            alt="Java Logo"
            class="w-10 h-10 mr-4 object-cover"
          />
          <div>
            <h3 class="text-lg font-medium text-gray-300">GlobalSpec</h3>
            <p class="text-gray-400">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </li>
        <li class="flex items-start">
          <img
            src="assets/images/abiomed_logo.png"
            alt="Java Logo"
            class="w-10 h-10 mr-4 object-cover"
          />
          <div>
            <h3 class="text-lg font-medium text-gray-300">Abiomed</h3>
            <p class="text-gray-400">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
