<div class="container mx-auto px-6 py-12">
  <div class="mb-12">
    <h2 class="text-3xl font-bold text-gray-100 mb-4">Model Painting and 3D Printing</h2>
    <p class="mb-4">
      During covid, one of the hobbies I picked up was model painting.  What started as a way to get into a tabletop game became a nice creative outlet.  I started to buy more paints, then more models, then even more paints, and all of a sudden I had a huge supply of materials.  Painting became more fun than playing, so I focused more of my time on that.
    </p>
    <p class="mb-4">
      I then started to look into 3D printers as a way to get cheaper models, but from there discovered resin statues and larger builds.  3D printing props, statues, and terrain became more fun than collecting models.  I could work on different techniques and create some unique gifts for friends and family.
    </p>
    <p>
      I just moved so my painting setup is still packed so here are some pictures from my phone that I've taken over the past 4ish years.  I am curious how much this will cost me on AWS so im going to include a bunch to test it out.  I am also curious about how it loads and if I can make some further improvements.
    </p>
  </div>

  <app-image-gallery [galleryImages]="galleryImages"></app-image-gallery>
</div>
